/* Style sheet for Patient Profile

     Filename: pmdStyle.css

     Patient Profile - 07/18/09

     (1) Create the wire frame with ID's by
	   (a) "#main-wrapper" to encapsulate document
               - "#main-header" title of page
	       - "#main-form" to contain a form
	       - "#main-footer" to contain logo and revision date
	       - "#main-copyright" last object in document

     (2) The "#main-form" use classes for most of the styling
            (a) "No style added to HTML tag <form>. "#main-form" parent applies style to <form>
            (b) ".main-sectionTitle" to show a visual divide between sections in document.
            (c) ".form-label" and ".form-textInput" for label + input fields on single line
            (d) ".form-labelPhone" to adjust size and position
            (e) "#form-button" container for buttons
            (f) ".form-subButton1" and ".form-subButton2" button alignment left or right
		
     (3) Offsets used to make minor adjustments in presentation
            (a) "#form-phoneLabelOffset"

     (4) Selectors "#patient_profile_" selector id for drop down selection boxes
            (a) physician_id
            (b) state
            (c) country_province
            (d) ethinicity
            (e) gender
            (f) date_of_birth

     (5) Class and Id section for index.html
*/


/* The wire frame layout */
body {
    background-image: url(form-background.png);
}

#main-wrapper, #main-form, #main-footer, #footer-logo, #footer-copyright, #form-buttons {
    background-color: #ECF0F9;
}

#main-header, .main-sectionTitle, .form-subButton1, .form-subButton2 {
    background-color: #C4D1EB;
}
 
/* emd 
#main-wrapper {
    width: 80%;
    position: relative;
    clear: right;
    float: right;
    padding: 0;
    font-family: Verdana;
    color: #262262;
    font-weight: bold;
    font-size: 1.2em;
    border: solid .1em black;
}
*/

/* proficientMD */
#main-wrapper {
    width: 52em;
    position: relative;
    left: 50%;
    margin-left: -26em;
    margin-top: 0em;
    padding: 0;
    font-family: Verdana;
    color: #262262;
    font-weight: bold;
    font-size: 1em;
    border: solid .1em black;
}


#main-header {
    width: 99.5%;
    height: 1.6em;
    border: outset .15em #ECF0F9;
    font-size: 150%;
    text-align: center;
}

#main-form {
    width: 90%;
    margin: 0 auto;
}

#main-footer {
    width: 100%;
    clear: both;
    height: 2.7em;
}

#footer-logo {
    width: 11.8em;
    height: 100%;
    position: relative;
    clear: left;
    float: left;
    margin-left: .8em;
}

#footer-copyright {
    width: 100%;
    height: 1.5em;
    clear: both;
    margin-top: -1.6em;
    font-size: 80%;
    text-align: center;
}

#form-buttons {
    width: 100%;
    position: relative;
    clear:both;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 300%;
}

.form-subButton1, .form-subButton2 {
    width: auto;
    position:relative; 
    float:right; 
    background-color: #C4D1EB;
}

.form-subButton2 {
    margin-right: 1.8em;
}

.form-label, .form-phoneLabel {
    width: auto;
    position: relative;
    clear: left;
    float: left; 
    display: inline;
    margin: .3em .5em .3em 0em;
    line-height: normal;
    font-weight: bold;
    text-align: right;
}

.form-label {
    width: 13em;
    font-size: 90%;
}

.form-phoneLabel {
    width: 22em;
    font-size: 80%;
}

.main-sectionTitle {
    width: 36%;
    position: relative;
    /*clear: both;
    float: left;*/
    display: block;
    margin-top: .6em;
    margin-bottom: .6em;
    padding-left: .5em;
    line-height: normal;
    border: outset .1em #ECF0F9;
    font-size: 120%;
    font-weight: bold;
    text-align: left;
}

.form-inputText {
    width: auto;
    max-width: 400px;
    margin: .25em 0em .25em .2em;
    border: inset .23em #ECF0F9;
    color: black;
    background-color: #FFFEF0;
    font-size: 80%;
}

.form-inputText { font-size: 80%; }

#patient_profile_physician_id,
#patient_profile_gender,
#patient_profile_city_auto_complete,
#patient_profile_state_province, 
#patient_profile_ethnicity,
#patient_profile_date_of_birth_1i, 
#patient_profile_date_of_birth_2i, 
#patient_profile_date_of_birth_3i  {

    width: auto;
    margin: .25em .2em .25em .2em;
    background-color: #FFFEF0;
    font-size: 80%;
}

#patient_profile_city_auto_complete {
    margin-left: -.1em;
    z-index:1;
}

/* Error style */

.fieldWithErrors {
  float: left;
  margin: .1em .1em;
  background-color: #ED1C24;
}

#errorExplanation {
    width: 100%;
    height: auto;
    position: relative;
    clear:both;
    float:left;
    margin-bottom: 1em;
    border: .1em solid #ED1C24;
    background-color: #E2E3E4;
    font-size: 80%;
    z-index: 1;
}

#errorExplanation h2 {
    margin: -.1em;
    padding-left: 1em;
    text-align: left;
    background-color: #ED1C24;
    font-size: 120%;
    font-weight: bold;
    color: #FFFFFF;
}

#errorExplanation p {
    margin-bottom: -.5em;
    padding-left: 1em;
    font-size: 90%;
}

/* Index style */

#index-body {
    background-color:#ECF0F9;
    font-family: Verdana;
}

#index-title {
    background-color: #C4D1FB;
    border: outset .1em #ECF0F9;
    font-size: 120%;
    font-weight: bold;
    color: #262262
}

#index-newButton {
    color: green; 
    font-weight: bold;
}

.index-th, .index-td {
    width:10em;
    text-align:left;
    color: black;
}

.index-th {
    font-size: 90%;
    text-decoration:underline;
}

.index-td {
    font-size: 80%;
}

/* New AutoComplete */

div.auto_complete {
  position:absolute;
  width: auto;
  border: inset .23em #ECF0F9;

}

div.auto_complete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

div.auto_complete ul li.selected { background-color: #C4D1EB;}

div.auto_complete ul li {
  height: auto;
  display: block;
  background-color: #FFFEF0;
  list-style-type: none;
  padding-left:1em;
  font-size:100%;
  font-weight:bold;
  cursor:pointer;
}


/* End of style.css */
